.service-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 18px;
    padding: 18px;
    border: 1px solid #cacaca;
    background-color: #fbfbfb;
}

.service-name {
    display: block;
    margin: 18px;
    font-size: 18px;
    font-weight: 700;
}

.service-toggler-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 18px auto 8px;
    color: #777777;
}
