.header-layout {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #fbfbfb;
    margin-bottom: 22px;
    box-shadow: 0px 3px 10px rgba(100, 100, 100, 0.29);
    z-index: 4;
}

.header-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
}

.seo-title {
    width: 46px;
    height: 75px;
    background-size: contain;
    /* background: url('/ICED_T-logo.png') top left no-repeat; */
    background-image: url('/ICED_T-logo-small.png');
    text-indent: -100em;
}

.subtitle {
    margin: 24px 8px 24px;
    font-size: 28px;
    font-weight: 300;
    text-decoration: none;
    color: #333333;
    font-family: 'PT Sans', sans-serif;
}
