* {
  box-sizing: border-box;
}

body {
  background-color: #fbfbfb;
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-size: 36px;
  margin-bottom: 45px;
  margin-top: 100px;
}

.single-page-container {
  display: block;
  width: 100%;
  max-width: 100%;
}

.iot-pricing-explorer {
  display: block;
  width: 100%;
  max-width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arch-diagram-container {
  display: flex;
  flex-direction: column;
  margin: 24px auto 24px;
}

.arch-diagram {
  display: grid;
  grid-template-columns: [things] 280px [iot] 280px [ingest] 280px [storage] 280px [actions] 280px;
  grid-template-rows: [header] 36px [product] 280px;
  margin: 24px auto 24px;
  text-align: center;
}

.arch-diagram table,
.arch-diagram th,
.arch-diagram td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
}
